/highscore_15_17_v4.txt
/highscore_20_30_v2.txt
/highscore_20_30_v3.txt
/main.py
/snake_15_17_v4_game.gif
/snake_15_17_v4_model.pth
/snake_20_30_v2_model.pth
/snake_20_30_v3_model.pth
/snake_cnn_model.pth
/snake_portal_model.pth
/test.py
/training_plot.png